/*公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,p,blockquote,th,td{
margin:0;padding:0;font-size:14px;font-family:'微软雅黑';}
table,form,fieldset,input,textarea,select,button,img{border:0px;}
table{cellpadding:0;cellspacing:0;}
ol,ul{list-style:none}
a:link,a:visited{color:#333; text-decoration:none;}
a:hover{color:#f60; text-decoration:none;}
a:active, a:focus { outline:none;}
input:focus { outline: none; }
i,strong,em,del{ font-style:normal;}

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.none{display:none;}
.fl{float:left;}
.fr{float:right;}
.wp{width:1200px; margin:0 auto;}

.mT10{margin-top:10px;}
.mT20{margin-top:20px;}
.mT30{margin-top:30px;}
.mT40{margin-top:40px;}

/*顶部header*/
#header{z-index:4000;}
#topBar{background:#fafafa;border-bottom: 1px solid #f1f1f1; position: relative; width: 100%; z-index:4001;}
#topBar .inside_top {width:1200px; margin:0 auto; height:29px;}
.bannerBar{position: relative; width: 100%;}
.bannerBar .inside_banner{width:1200px; margin:0 auto;}
.bannerBar .inside_banner a{display:block; }

/*出发城市*/
#starting {height:29px; line-height:29px; _overflow:hidden;}
#starting .top_hello{display:inline-block;}
#starting .s_city_name{margin-right:10px; display:inline-block; float:left;}
/*登陆注册*/
#login{height:29px; line-height:29px; font-size:12px;}
#login .shu_line{margin:0px 8px; float:left; color:#C8C8C8;}
#login .welcome{float:left;}
#login .my_ss{display:inline-block; float:left;}
#login .wx{width:90px; margin-left:30px; position:relative; }
#login .wx .w_text{width:90px; height:29px; position:relative;font-size:12px;}
#login .wx .w_text .w_ico{width:36px; height:22px; display:inline-block; background:url(../images/icon_set.png) center center no-repeat; position:absolute; top:5px; right:0px; background-position:0px 0px;}
#login .wx .w_scan{position:absolute; display:none; left:-220px;}
#login .wx .w_scan img{border:1px solid #2A98DA;}

/*logo搜索*/
#searchBar{position:relative; width:100%;}
#searchBar .inside_search{width:1200px; margin:0 auto; height:85px;}
#logo{width:300px; padding-top:10px;}
#logo dl dt.newlogo{width:184px; height:58px;}
#logo dl dd{width:110px; height:40px; margin-top:15px; text-align:center; border-left:1px solid #cdcdcd;}
#search{width:530px; padding-top:28px; padding-left:90px;}
#search .s_search{width:514px; height:30px; border:2px solid #FA8D00;}
#search .s_search .s_right{width:438px; height:30px; line-height:30px; position:relative;}
#search .s_search .s_right .glass{width:29px; height:30px;border-right:1px solid #efefef; display:inline-block; background:url(../images/icon_set.png) no-repeat; background-position:-40px 10px;}
#search .s_search .s_right .Searchkey{width:400px;padding:0 4px; height:30px; line-height:30px;/* padding-top:5px\9; height:25px\9;*/}
.hint{color:#999;}
#search .s_search .search_btn{width:76px; height:30px; background:#FB8D00; color:#fff; cursor:pointer;}

#phone .phone_box{text-align:right;}

/*幻灯内容区*/
#sliderMain{margin:10px auto; overflow:hidden; width:1200px; position:relative;}
.sliderDiv{width:1200px; height:255px; margin:0 auto; position:relative; overflow:visible!important;}
.sliderDiv .sliderCon{width:100%; height:255px; position:relative;/*margin-left:-360px;*/}
.sliderDiv .sliderCon li{height:219px; float:left; position:absolute;}
.sliderDiv .sliderCon .none{display:none; position:absolute; top:0; left:0;opacity:0; }
.sliderDiv .sliderCon li .linka{display:block; height:255px; }
.sliderDiv .sliderCon li .linka img{width:1200px; height:255px;}
.sliderDiv .mSlider_nav_orange{position:absolute; bottom:10px; right:200px; overflow:hidden;}
.sliderDiv .mSlider_nav_orange li{width:18px; height:18px; display: inline-block;float: left;margin-right: 4px;}
.sliderDiv .mSlider_nav_orange li a{display: inline;float: left;}
.sliderDiv .mSlider_nav li a{width:16px; height:16px; border-radius:16px; background:url('../images/icon_set.png') 0 -32px no-repeat;text-indent:-2000em; overflow:hidden;}
.sliderDiv .mSlider_nav_orange li.current a {background:url('../images/icon_set.png') no-repeat 0 -48px;}
.sliderDiv .mSlider_nav .current a,.sliderDiv .mSlider_nav li a:hover {background-position:0 -48px;background-color:none!important;}

/*底部footer*/
#footer{}
#tBar{width:100%; background: none repeat scroll 0 0 #2a98da; position:relative; min-width:1200px;}
#tBar .inside_t{width:1200px; margin:0 auto; height:66px;}
.inside_t .in_t_l{width:300px; height:66px; line-height:66px; font-size:18px; text-align:center; color:#fff;background:url(../images/icon_set.png) 90px -118px no-repeat;}
.inside_t .in_t_r{width:880px; padding-top:5px;}
.inside_t .in_t_r ul{}
.inside_t .in_t_r ul li{width:176px; float:left;position:relative;}
.inside_t .in_t_r ul li span{display:block;}
.inside_t .in_t_r ul li .slo_img{width:50px; color:#fff; position:relative; margin:0 auto; font-size:12px; text-align:center;}
.inside_t .in_t_r ul li .slo_img i{display:block; width:45px; height:35px; background:url(../images/icon_set.png) no-repeat;}
.inside_t .in_t_r ul li .slo_img .slo_01{background-position:0px -222px;}
.inside_t .in_t_r ul li .slo_img .slo_02{background-position:-45px -222px;}
.inside_t .in_t_r ul li .slo_img .slo_03{background-position:-90px -222px;}
.inside_t .in_t_r ul li .slo_img .slo_04{background-position:-135px -222px;}
.inside_t .in_t_r ul li .slo_img .slo_05{background-position:-180px -222px;}

.inside_t .in_t_r ul li .slo_des{position:absolute; right:3px; top:0px; height:40px;color:#fff;padding:5px 10px;display:none;font-size:12px; line-height:20px;_padding:5px 2px;}
.inside_t .in_t_r ul li .slo_des i{width:7px; height:11px; background:url(../images/icon_set.png) -90px -32px no-repeat;position:absolute; top:20px; left:-7px;}
.inside_t .in_t_r ul li .slo_des span{width:100%; height:100%; background:#fff; opacity:0.5; filter:alpha(opacity=50); position:absolute; top:0; left:0;}

#linkBar{width:100%; background:#f7f7f7; position:relative;}
#linkBar .inside_l{width:1200px; margin:0 auto; height:110px; padding-top:10px;}
.inside_l .in_l_l{width:300px; position:relative;}
.inside_l .in_l_l a{display:block;}
.inside_l .in_l_l a img{position:absolute; right:0px; top:10px;}
.inside_l .in_l_r{width:880px;}
.inside_l .in_l_r .link{margin-bottom:7px; height:20px; line-height:20px;}
.inside_l .in_l_r .link span{margin:0px 10px; color:#C8C8C8;}
.inside_l .in_l_r .link .link_item{}
.inside_l .in_l_r .link .friendLink{position:relative;}
.inside_l .in_l_r .link .friendLink .flink_title{}
.inside_l .in_l_r .link .friendLink .flink_list{position:absolute; bottom:20px; right:0px; background:#fff; display:none;}
.inside_l .in_l_r .link .friendLink .flink_list .wipt{width:200px; height:300px; border:1px solid #c8c8c8; overflow-y:scroll;}
.inside_l .in_l_r .link .friendLink .flink_list .wipt a{display:block;height:30px;line-height:30px;color:#2a98da; padding:0 10px;}
.inside_l .in_l_r .link .friendLink .flink_list .wipt a:hover{background:#178fd5; color:#fff;}
.inside_l .in_l_r .link .friendLink .flink_list p{width:200px; font-size:12px; text-align:center; background:#f1f1f1; border:1px solid #c8c8c8; border-top:none; height:25px; line-height:25px; _overflow:hidden;}

.inside_l .in_l_r .copyright{margin-bottom:7px; position:relative; color:#333;}
.inside_l .in_l_r .copyright span{position:absolute; top:0; margin-left:10px;}
.inside_l .in_l_r .copyright span a{}
.inside_l .in_l_r .copyright span img{height:55px;}
.inside_l .in_l_r .outlet{position:relative;}
.inside_l .in_l_r .outlet .mendian{height:27px; line-height:27px; margin-right:10px;}
.inside_l .in_l_r .outlet .mendian .md_name{}
.inside_l .in_l_r .outlet .mendian .md_list{width:730px; position:absolute; bottom:27px; left:0px; border:1px solid #f1f1f1; background:#fff; display:none;}
.inside_l .in_l_r .outlet .mendian .md_list .tt{padding:10px 0 0 20px;font-weight:bold;}
.inside_l .in_l_r .outlet .mendian .md_list h1{height:30px; line-height:30px;padding-left:10px; font-size:14px; background:#f1f1f1;}
.inside_l .in_l_r .outlet .mendian .md_list ul{}
.inside_l .in_l_r .outlet .mendian .md_list ul li{padding:0px 20px;font-size:12px;}
.inside_l .in_l_r .outlet .mendian .md_list ul li .md_dm,.inside_l .in_l_r .outlet .mendian .md_list ul li .md_dh{margin-right:8px;}
.inside_l .in_l_r .outlet .mendian .md_list ul li .md_dm{width:130px; display:inline-block;}
.inside_l .in_l_r .outlet .mendian .md_list ul li .md_dh{}

.tsearch_nav{width:1200px; margin:20px auto 5px;font-size:14px;}

.demopage{width:880px; padding-top:8px; height:52px; _overflow:hidden;}
.sidenav li{position:relative;float:left;width:176px;}
.sidenav li .slo_img{width:50px; color:#fff; position:relative; margin:0 auto; font-size:12px; text-align:center;}
.sidenav li .slo_img i{display:block; width:45px; height:35px; background:url(../images/icon_set.png) no-repeat;}
.sidenav li .slo_img .slo_01{background-position:0px -222px;}
.sidenav li .slo_img .slo_02{background-position:-45px -222px;}
.sidenav li .slo_img .slo_03{background-position:-90px -222px;}
.sidenav li .slo_img .slo_04{background-position:-135px -222px;}
.sidenav li .slo_img .slo_05{background-position:-180px -222px;}
.sidenav li div{display:none; position:absolute; top:0; left:0; font-size:12px; width:206px; color:#fff;}
.sidenav li div p span{background:#94caec; display:inline-block; padding:5px;}
.sidenav li div p b{width:7px; height:11px; background:url(../images/icon_set.png) -90px -32px no-repeat;position:absolute; top:20px; left:-7px;}

/*标题title*/
#title .title{height:80px; line-height:80px; text-align:center; font-size:18px; color:#333; border-bottom:3px solid #dbdddf;}

/*产品product*/
#product .type_fixed{position:fixed; top:0; width:1200px; z-index: 1; background:#fff;}
#product .type{padding:30px 0 20px 0; border-bottom:2px solid #9bc626;}
#product .type li{float:left; padding-right:8px;}
#product .type li a{background:#e4e7ec; color:#999; padding:4px 12px;}
#product .type li a:hover{background:#ff6600; color:#fff;}
#product .type li.current a{background:#ff6600; color:#fff;}
#product .case_fixed{padding-top:70px;}
#product .case{padding-top:20px;}
#product .case ul{position:relative; width:1200px; overflow:hidden;}
#product .case ul li{float:left; width:283px; height:286px; border:1px solid #ddd; margin:0 20px 20px 0; position:absolute; top:0; left:0;}
#product .case ul li .case_pic{position:relative; height:187px;}
#product .case ul li .case_pic a span{position: absolute; bottom: 0; left: 0; width:283px; height:31px; line-height:31px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; display: block;background: rgba(0,0,0,0.5) none repeat scroll !important; _background: #000; _filter: Alpha(opacity=50); font-size:16px; color: #fff;}
#product .case ul li .case_pic a i{position:absolute; top:0; left:0; height:50px; width:50px; background:url(../images/jingxuan/hot.png) no-repeat;}
#product .case ul li .case_pic a i.hot{background-position:0 0;}
#product .case ul li .case_pic a i.new{background-position:0 -50px;}
#product .case ul li .case_pic a i.sale{background-position:-50px 0;}
#product .case ul li .case_word{height:85px; padding:7px; position:relative; color:#666;}
#product .case ul li .case_word span{display:block;}
#product .case ul li .case_word span i{padding-right: 6px; color:#ff0000;}
#product .case ul li .case_word span i strong{font-size:20px;}
#product .case ul li .case_word span del{padding-left:10px;}
#product .case ul li .case_word a{position:absolute; left:7px; bottom:7px; display:block; width:269px; height:34px; line-height:34px; text-align: center; transition: bottom 0.2s linear 0s; background:#ff6600; color:#fff; font-size:20px;}
#product .case ul li .case_word a.icon{bottom:10px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);}

/*返回顶部*/
#retop{position:fixed; width:50px; left:50%; margin-left:610px; top:58%; z-index:9999; display:block;}
#retop a{background:url(../images/talk.jpg) no-repeat; display:block; width:50px; height:50px; margin-bottom:4px;}
#retop .back_talk{background-position:0 0; position:relative;}
#retop .back_talk:hover{background-position:0 -50px;}
#retop .back_talk span{position:absolute; background:url(../images/talk_head.png) no-repeat; height:49px; left:-15px; top:-45px; width:80px; background-size:80px 49px;}
#retop .back_top{background-position:-50px 0;}
#retop .back_top:hover{background-position:-50px -50px;}
#retop .back_key{background-position:-150px 0;}
#retop .back_key:hover{background-position:-150px -50px;}
/*ie6 hack*/
*html #retop{position:absolute; top:expression(((e=document.documentElement.scrollTop)?e:document.body.sctollTop)+200+'px');}
*html,*html body{background-image:url(about:blank); background-attachment:fixed;}