@font-face {
  font-family: "iconfont"; /* Project id 3108742 */
  src: url('iconfont.woff2?t=1756276387709') format('woff2'),
       url('iconfont.woff?t=1756276387709') format('woff'),
       url('iconfont.ttf?t=1756276387709') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-no-receive:before {
  content: "\e95f";
}

.icon-order1:before {
  content: "\e960";
}

.icon-refund:before {
  content: "\e964";
}

.icon-to-pay:before {
  content: "\e96a";
}

.icon-copy:before {
  content: "\e706";
}

.icon-music-note:before {
  content: "\e611";
}

.icon-player-fast-forward:before {
  content: "\e612";
}

.icon-player-fast-back:before {
  content: "\e616";
}

.icon-player-list-add:before {
  content: "\e617";
}

.icon-player-list-play:before {
  content: "\e618";
}

.icon-player-list:before {
  content: "\e619";
}

.icon-player-pause:before {
  content: "\e61a";
}

.icon-player-pause-circle:before {
  content: "\e61b";
}

.icon-player-play:before {
  content: "\e61c";
}

.icon-player-play-circle:before {
  content: "\e61d";
}

.icon-player-play-pause:before {
  content: "\e61e";
}

.icon-player-skip-back:before {
  content: "\e61f";
}

.icon-player-skip-forward:before {
  content: "\e620";
}

.icon-player-stop-circle:before {
  content: "\e621";
}

.icon-player-stop:before {
  content: "\e622";
}

.icon-preview:before {
  content: "\e68d";
}

.icon-gallery:before {
  content: "\e629";
}

.icon-new:before {
  content: "\e62b";
}

.icon-list:before {
  content: "\e62d";
}

.icon-debug:before {
  content: "\e606";
}

.icon-test:before {
  content: "\e600";
}

.icon-task:before {
  content: "\e6ef";
}

.icon-line:before {
  content: "\e682";
}

.icon-rank-fill:before {
  content: "\e721";
}

.icon-rank:before {
  content: "\e722";
}

.icon-trend:before {
  content: "\e6c3";
}

.icon-ring:before {
  content: "\e62e";
}

.icon-arrow-up-circle:before {
  content: "\e665";
}

.icon-user-active:before {
  content: "\e668";
}

.icon-sales:before {
  content: "\e603";
}

.icon-money:before {
  content: "\e613";
}

.icon-done:before {
  content: "\e66f";
}

.icon-arrow-right-double:before {
  content: "\e63c";
}

.icon-lock:before {
  content: "\e6c0";
}

.icon-zone:before {
  content: "\e631";
}

.icon-order:before {
  content: "\e661";
}

.icon-user-access:before {
  content: "\e666";
}

.icon-user:before {
  content: "\e667";
}

.icon-link:before {
  content: "\e72b";
}

.icon-ad:before {
  content: "\e633";
}

.icon-menu:before {
  content: "\e677";
}

.icon-bulletin:before {
  content: "\eb66";
}

.icon-system:before {
  content: "\e6a6";
}

.icon-product:before {
  content: "\e6f6";
}

.icon-dot:before {
  content: "\e679";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-home-fill:before {
  content: "\e6bb";
}

.icon-add:before {
  content: "\e641";
}

.icon-reduce:before {
  content: "\e643";
}

.icon-delete:before {
  content: "\e6b4";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-close:before {
  content: "\e615";
}

.icon-copyright:before {
  content: "\e664";
}

.icon-refresh:before {
  content: "\e672";
}

.icon-menu-unfold:before {
  content: "\ec27";
}

.icon-menu-fold:before {
  content: "\e845";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-search:before {
  content: "\e7eb";
}

.icon-wechat:before {
  content: "\ea4c";
}

.icon-arrow-up:before {
  content: "\e658";
}

.icon-arrow-left:before {
  content: "\e659";
}

.icon-arrow-down:before {
  content: "\e65a";
}

.icon-arrow-right:before {
  content: "\e65b";
}

.icon-erweima:before {
  content: "\e614";
}

