body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,p,blockquote,th,td{
margin:0;padding:0;font-size:12px;font-family:'微软雅黑';}
table,form,fieldset,input,textarea,select,button,img{border:0px;}
table{cellpadding:0;cellspacing:0;}
ol,ul{list-style:none}
a:link,a:visited{color:#333; text-decoration:none;}
a:hover{color:#f60; text-decoration:none;}
input:focus { outline: none; }

.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.none{display:none;}
.fl{float:left;}
.fr{float:right;}

.sliderMain{ overflow:hidden; width:100%; position:relative;}
.sliderDiv{width:980px; height:400px; margin:0 auto; position:relative; overflow:visible!important;}
.sliderDiv .sliderCon{width:1920px; height:400px; position:relative;margin-left:-360px;}
.sliderDiv .sliderCon li{height:400px; float:left; position:absolute;}
.sliderDiv .sliderCon .none{display:none; position:absolute; top:0; left:0;opacity:0; }
.sliderDiv .sliderCon li .linka{display:block; height:400px; }
.sliderDiv .sliderCon li .linka img{width:1920px; height:400px;}
.sliderDiv .sliderCon li .sliderRightDiv{position:absolute; top:80px; right:370px; width:430px; height:130px; background:url(sanjijin/words_bg.png) no-repeat; _background:none; padding:10px;}
.sliderDiv .sliderCon li .sliderRightDiv .p1{font-size:30px; height:50px; line-height:50px; color:#fff; font-weight:bold;}
.sliderDiv .sliderCon li .sliderRightDiv .p2{font-size:19px; height:40px; line-height:40px; color:#e4007f; font-weight:bold;}
.sliderDiv .sliderCon li .sliderRightDiv .p3{font-size:13px; height:60px; line-height:1.6em; color:#fff;}
.sliderConA{display:block; width:190px; height:117px; cursor:pointer; }
.sliderDiv .mSlider_nav_orange{position:absolute; bottom:10px; right:200px; overflow:hidden;}
.sliderDiv .mSlider_nav_orange li{width:18px; height:18px; display: inline-block;float: left;margin-right: 4px;}
.sliderDiv .mSlider_nav_orange li a{display: inline;float: left;}
.sliderDiv .mSlider_nav li a{width:16px; height:16px; border-radius:16px; background:url('../images/sliderBtn.png') 0 0 no-repeat;text-indent:-2000em;}
.sliderDiv .mSlider_nav_orange li.current a {background:url('../images/sliderBtn.png') no-repeat 0 -16px;}
.sliderDiv .mSlider_nav .current a,.sliderDiv .mSlider_nav li a:hover {background-position:0 -16px;background-color:none!important;}


/*indexWrap*/
#indexWrap{width:980px; height:320px; margin:0 auto; background-color:#f9f9f9;}
#indexWrap .inWLeft{width:322px; height:320px; background:url(../images/shubg.gif) right top no-repeat; float:left;}
#indexWrap .inWLeft p.p1{width:320px; height:60px; line-height:60px; font-size:18px; text-align:left; text-indent:1em;}
#indexWrap .inWLeft table p.p2{ width:260px; line-height:1.6em;}

#indexWrap .inWCenter{width:335px; height:320px; background:url(../images/shubg.gif) right top no-repeat; float:left;}
#indexWrap .inWCenter p.p3{width:320px; height:60px; line-height:60px; font-size:18px; text-align:left; text-indent:1em;}
#indexWrap .inWCenter table p.p4{ width:260px; line-height:1.6em;}

#indexWrap .inWRight{width:320px; height:320px; float:left;}
#indexWrap .inWRight p.p5{width:320px; height:60px; line-height:60px; font-size:18px; text-align:left; text-indent:1em;}
#indexWrap .inWRight table p.p6{ width:260px; line-height:1.6em;}

/*levelline*/
#levelline{width:980px; height:3px; margin:0 auto; overflow:hidden;}

/*indexWrap2*/
#indexWrap2{width:980px; height:80px; margin:0 auto; background:#f9f9f9; padding-top:20px;}
#indexWrap2 .p7{height:27px; line-height:27px; font-size:14px; font-weight:bold;}
#indexWrap2 .inWLeft2{width:320px; height:80px; float:left; position:relative;}

#indexWrap2 .inWCenter2{width:320px; height:80px; float:left;}

#indexWrap2 .inWRight2{width:320px; height:80px; float:right;}









