body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,select,p,blockquote,th,td{
margin:0;padding:0;font-size:14px;font-family:'微软雅黑';}
table,form,fieldset,input,textarea,select,button,img{border:0px;display:block;}
table{cellpadding:0;cellspacing:0;}
ol,ul{list-style:none}
i,em,b{font-style:normal;}
a:link,a:visited{color:#333; text-decoration:none;}
a:hover{color:#f60; text-decoration:none;}
input:focus { outline: none; }

.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
.none{display:none;}
.fl{float:left;}
.fr{float:right;}

.tuanWrap{color:#666;}
.tuanWrap .banner{width:100%;}

.tuanWrap .module1{width:100%; background:#ffffd8; padding-top:26px;}
.tuanWrap .module2{background:#fec85e; padding-top:26px;}
.tuanWrap .module3{background:#93c459; padding-top:26px;}

.tuanWrap .wp{width:964px; margin:0 auto; padding-bottom:40px;}
.tuanWrap .wp .module_product ul{overflow:hidden; width:978px;}
.tuanWrap .wp .module_product ul li{padding:14px 14px 0 0; float:left;}
.tuanWrap .wp .module_product ul li img{width:312px; height:200px;}
.tuanWrap .wp .module_product ul li span{display:block; height:105px; width:302px; font-size:18px; background:#fff; padding:10px 5px; color:#404040; position:relative;}
.tuanWrap .wp .module_product ul li span b{display:block; height:60px; font-weight:100;}
.tuanWrap .wp .module_product ul li span h4{display:block; height:25px; line-height:25px; font-weight:100;font-size:16px; overflow:hidden;}
.tuanWrap .wp .module_product ul li span h4:hover{color:#f60;}
.tuanWrap .wp .module_product ul li span p.info{height:44px; line-height:22px; overflow:hidden; color:#aaa;}
.tuanWrap .wp .module_product ul li span .ordBtn{position:absolute; bottom:10px; right:10px; background:#2a98da; color:#fff; padding:4px 8px; font-weight:100; font-size:18px;}
.tuanWrap .wp .module_product ul li span .ordBtn:hover{background:#f60;}
.tuanWrap .wp .module_product ul li span .lastDep{}
.tuanWrap .wp .module_product ul li span i{display:block; color:#f60;}
.tuanWrap .wp .module_product ul li span i em{font-size:28px; font-family:georgia; padding:0 2px;}
.tuanWrap .wp .module_product ul li span strong{position:absolute; bottom:20px; right:10px; background:#2a98da; color:#fff; padding:4px 8px; font-weight:100;}
.tuanWrap .wp .module_product ul li a strong:hover{background:#f60;}
.tuanWrap .wp .module_product ul li a b:hover{color:#f60;}

.tuanWrap .wp .module_head{background:#f7f7f7 url(tachun/icon1.png) no-repeat left top; padding:20px 440px 0 100px; height:342px; margin:14px 0; position:relative;}
.tuanWrap .wp .module_head .module_bg{position:absolute; top:30px; right:20px;}
.tuanWrap .wp .module_head .module_bg img{width:399px; height:300px;}
.tuanWrap .wp .module_head .module_title{height:72px; line-height:60px; position:relative; font-size:36px; color:#365245; background:url(tachun/icon2.gif) repeat-x left 58px;}
.tuanWrap .wp .module_head .module_title span{right: 15px; top: 0; position:absolute; width: 3px; height: 72px; background:url(tachun/icon3.gif) repeat-y;}
.tuanWrap .wp .module_head .module_price{line-height: 32px; padding-top: 4px; color: #365143; font-size: 18px;}
.tuanWrap .wp .module_head .module_price span{display:block;}
.tuanWrap .wp .module_head .module_price span strong{color: #ff5704; padding-left: 6px; font-family: Georgia; font-weight: 100;}
.tuanWrap .wp .module_head .module_price span strong.icon1{font-size:24px;}
.tuanWrap .wp .module_head .module_price span strong.icon2{font-size:30px;}
.tuanWrap .wp .module_head .module_word{padding-top: 4px;}
.tuanWrap .wp .module_head .module_word p{display: block; line-height: 24px; color: #66605e;}
.tuanWrap .wp .module_head .module_word a{display: block; width: 152px; height: 40px; line-height: 40px; text-align: center; margin-top: 5px; color: #fff; font-size: 18px; background:#2a98da;}
.tuanWrap .wp .module_head .module_word a:hover{background:#f60;}

.tuanWrap .wp .module_title2{margin:14px 0; text-align:center; color:#666; font-size:36px; position:relative; height:40px; line-height:40px;}
.tuanWrap .wp .module_title2 span{position:absolute; top:20px; height:1px; width:375px; background:#a0a0a0;}
.tuanWrap .wp .module_title2 span.icon1{left:0;}
.tuanWrap .wp .module_title2 span.icon2{right:0;}

.tuanWrap .module_title{text-align:center; background:#2a98da;height:170px;position:relative;}
.tuanWrap .module_title .tit{ color:#fff; font-size:36px;border-bottom:2px dotted #fff;width:970px;margin:0 auto;padding:10px 0;}
.tuanWrap .module_title .tit2{background:Url('tachun/tit2.jpg') no-repeat;width:700px;height:80px;margin-left:50%;position:absolute;left:-350px;bottom:10px;}

.tuanWrap .wp .module_head2{background:#f7f7f7; padding:20px; height:298px; margin-top:14px;}
.tuanWrap .wp .module_head2 .module_pic2 img{width:442px; height:298px;}
.tuanWrap .wp .module_head2 .module_word2{width:460px;}
.tuanWrap .wp .module_head2 .module_word2 .module_title3 a{font-size:30px; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 48px; line-height: 48px; color: #646662;}
.tuanWrap .wp .module_head2 .module_word2 .module_price2{line-height: 32px; padding-top: 4px; color: #646662; font-size: 18px;}
.tuanWrap .wp .module_head2 .module_word2 .module_price2 span{display:block;}
.tuanWrap .wp .module_head2 .module_word2 .module_price2 span strong{color: #ff5704; padding-left: 6px; font-family: Georgia; font-weight: 100;}
.tuanWrap .wp .module_head2 .module_word2 .module_price2 span strong.icon1{font-size:24px;}
.tuanWrap .wp .module_head2 .module_word2 .module_price2 span strong.icon2{font-size:30px;}
.tuanWrap .wp .module_head2 .module_word2 .module_wenzi{padding-top: 4px; height:175px; position:relative;}
.tuanWrap .wp .module_head2 .module_word2 .module_wenzi p{display: block; line-height: 24px; color: #646662;}
.tuanWrap .wp .module_head2 .module_word2 .module_wenzi a{display: block; width: 152px; height: 40px; line-height: 40px; text-align: center; color: #fff; font-size: 18px; background:#2a98da; position:absolute; bottom:0; left:0;}
.tuanWrap .wp .module_head2 .module_word2 .module_wenzi a:hover{background:#f60;}

#themeFooter{ text-align:center;}
#themeFooter .links{ font-size:18px; line-height:50px; margin-top:20px;}
#themeFooter .links a{margin:0 15px; color:#999;}
#themeFooter .links span{color:#999;}
#themeFooter .copyright{color:#999; margin-bottom:30px;}

#themeHeader{ width:1200px; margin:0 auto; height:75px;}
.head_logo{width:300px; padding-top:2px;}
.head_logo dl dt.newlogo{width:184px; height:58px;}
.head_logo dl dd{width:110px; height:40px; margin-top:15px; text-align:center; border-left:1px solid #cdcdcd;}
.head_nav{text-align:right; font-size:18px;}
.head_nav a{width:80px; display:inline-block; text-align:center;line-height:35px; margin-top:20px;}
.head_nav a:hover{border-bottom:3px solid #ff6600;}
.head_nav a.on{border-bottom:3px solid #ff6600; color:#ff6600;}