@use '@styles/variables.scss' as *;

.work-tab{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
    user-select: none;
    border-bottom: 1px solid var(--card-border);
    .right{
      display: flex;
  
      .btn {
        position: relative;
        top: 0;
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        background: var(--bt-white);
        border-radius: calc(var(--custom-radius) / 2.5 + 0px) !important;
  
        &:hover ul {
          display: inline;
        }
  
        &.history {
          color: #666;
        }
      }
    }
    .scroll-view{
      width: 100%;
      overflow: hidden;
      .tabs{
        float: left;
        white-space: nowrap;
        background: var(--bg-white) !important;
        li{
          display: inline-block;
          padding: 0 10px;
          height: 30px;
          margin-right: 6px;
          font-size: 13px;
          line-height: 30px;
          color: var(--art-text-gray-600);
          text-align: center;
          cursor: pointer;
          background: var(--art-main-bg-color);
          border: 1px solid var(--card-border);
          border-radius: calc(var(--custom-radius) / 2.5 + 2px) !important;
          transition: color 0.1s;

          &:hover {
            color: var(--main-color) !important;
            transition: color 0.2s;
          }

          &.active{
            color: var(--main-color) !important;
            border-color: var(--main-color);
          }

          i {
            position: relative;
            top: 2px;
            padding: 2px;
            margin-left: 5px;
            border-radius: 50%;
            transition: all 0.2s;
            font-size: 16px;
  
            &:hover {
              background: rgb(238 238 238 / 100%);
            }
          }
        }
      }
    }
}