// scss变量
// 主题
$color-black: #515a6e;
$color-white: #ffffff;
$color-primary: #1890ff;
$color-primary-light-1: #2f9bff;
$color-primary-light-2: #46a6ff;
$color-primary-light-3: #5db1ff;
$color-primary-light-4: #74bcff;
$color-primary-light-5: #8cc8ff;
$color-primary-light-6: #a3d3ff;
$color-primary-light-7: #badeff;
$color-primary-light-8: #d1e9ff;
$color-primary-light-9: #e8f4ff;
$color-success: #13ce66;
$color-success-light: #d0f5e0;
$color-success-lighter: #e7faf0;
$color-warning: #ffba00;
$color-warning-light: #fff1cc;
$color-warning-lighter: #fff8e6;
$color-danger: #ff4d4f;
$color-danger-light: #ffdbdc;
$color-danger-lighter: #ffeded;
$color-error: #ff4d4f;
$color-error-light: #ffdbdc;
$color-error-lighter: #ffeded;
$color-info: #909399;
$color-info-light: #e9e9eb;
$color-info-lighter: #f4f4f5;
$color-text: #303133;
$color-text-light: #606266;
$color-text-lighter: #909399;
$color-border: #dcdfe6;
$color-border-light: #e4e7ed;
$color-border-lighter: #f2f6fc;
$color-aside-icon-bg: #282c34;
$color-aside-menu-active: #2f9bff;
$color-aside-menu-bg: #fff;
$color-background: #f5f7fa;
$radius-small: 4px;
$shadow-small: 0 1px 4px rgb(0 21 41 / 8%);
