@charset "UTF-8";

#app {
    height: 100%;
    .index-wrapper {
        height: 100%;
    }
}

.ttbox {
    width: 100px;
    height: 100px;
    background-color: #1890ff;
}

// 通用式样layout
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 14px;
}
body {
    height: 100%;
    color: #333;
    min-width: 1200px;
    font: 1em/1.4 'PingFang SC', Arial, 'Microsoft YaHei', sans-serif;
}

ul,
h1,
h3,
h4,
p,
dl,
dd {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

i {
    font-style: normal;
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='checkbox'] {
    // padding: 0;
    outline: none;
    // border: none;
    -webkit-appearance: none;
    &::placeholder {
        color: #ccc;
    }
}

.img-box img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}

ul {
    list-style: none;
}

#app {
    background: #ffffff;
    user-select: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.screen {
    width: 100%;
    height: 100%;
}

.mt10 {
    margin-top: 10px;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis-2 {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

// san-table
.san-pannel {
    .top-pannel,
    .left-pannel {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        min-height: 32px;
    }
    .left-pannel {
        margin-bottom: 10px;
        .san-button {
            margin: 0 10px 10px 0;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
}

.san-table {
    .column-items {
        display: flex;
        justify-content: center;
        align-items: center;
        .san-button {
            ~ .san-button {
                margin-left: 10px;
            }
        }
        &.left {
            justify-content: flex-start;
        }
        .copy-btn{
            width: 16px;
            height: 16px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}

// san-dialog
.san-dialog-btns {
    display: flex;
    justify-content: flex-end;
    .san-button {
        ~ .san-button {
            margin-left: 10px;
        }
    }
}

.san-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

// san-form
.san-form {
    // .form-item-default {
    //     .el-input__inner {
    //         height: 32px;
    //         line-height: 32px;
    //     }
    //     .el-input {
    //         width: 194px;
    //     }
    // }
    // .img-box {
    //     width: 60px;
    //     height: 40px;
    //     margin: 0 auto;
    // }
    // .form-item-row {
    //     width: 810px;
    // }
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
        font-size: 18px;
    }
}

// san-edit-form
.card-form-box {
    .card-header {
        line-height: 0;
    }
    .card-body {
        margin-top: 30px;
        .inline-group {
            display: flex;
            justify-content: flex-start;
            .inline-input {
                width: 80px;
            }
            span {
                margin: 0 16px 0 8px;
            }
        }
        .uploader-btn {
            img {
                width: 100px;
                height: 100px;
                border-radius: 4px;
                overflow: hidden;
            }
            .uploader-default {
                width: 100px;
                height: 100px;
                color: #dcdfe6;
                border: 1px solid #dcdfe6;
                border-radius: 4px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .middle-col {
            position: relative;
            left: -70px;
        }
    }
}
.form-item-group {
    .iconfont {
        font-size: 20px;
        cursor: pointer;
    }
}
.form-btns {
    height: 100px;
    .fixed-box {
        position: fixed;
        z-index: 999;
        bottom: 0;
        left: 266px;
        width: calc(100% - 266px);
        background-color: #fff;
        border-top: 1px dashed #e4e7ed;
        padding: 20px 0 40px 0;
        display: flex;
        justify-content: center;
    }
}
.album-toolbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    background-color: #fff;
    position: relative;
    button {
        ~ button {
            position: absolute;
            left: 100px;
        }
    }
    .input-with-select {
        display: flex;
        input {
            width: 180px;
            border-radius: 4px 0 0 4px;
        }
        .san-button {
            border-radius: 0 4px 4px 0;
            border-left: none;
            i {
                font-size: 20px;
            }
            span {
                margin-left: 0;
            }
        }
    }
}